<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
    <link rel='javascript' href='/javascripts/admin_page.js'/>
</head>

<body>
<div id="header">
    <h1><%= title %></h1>
    <div id="menu">
        <a href="/">Home</a>
        <a href="catalogue">Catalogue</a>
        <a href="basket">Basket</a>
    </div>
</div>


<div id="content">
    <h2><%= title %></h2>
    <form action='/admin_page' method="GET">

    </form>

</div>

<div id="footer">
    This is footer.
</div>
</body>
</html>
